@import "./base.css";

#app {
    max-width: 480px;
    margin: auto;
    min-height: 100vh;
    /* background-image: url('./bg.jpg'); */
    font-weight: normal;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3 {
    color: #bd55b6;
}

a {
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
